# Assignment (Data Types and Structures)

## Data Types and Structures Questions

In [9]:
'''
1 What are data structures, and why are they important.
2  Explain the difference between mutable and immutable data types with examples.
3 What are the main differences between lists and tuples in Python.
4 Describe how dictionaries store data.
5 Why might you use a set instead of a list in Python.
6 What is a string in Python, and how is it different from a list.
7 How do tuples ensure data integrity in Python.
8 What is a hash table, and how does it relate to dictionaries in Python.
9 Can lists contain different data types in Python.
10 Explain why strings are immutable in Python.
11 What advantages do dictionaries offer over lists for certain tasks.
12 Describe a scenario where using a tuple would be preferable over a list.
13 How do sets handle duplicate values in Python.
14 How does the “in” keyword work differently for lists and dictionaries.
15 Can you modify the elements of a tuple? Explain why or why not.
16 What is a nested dictionary, and give an example of its use case.
17 Describe the time complexity of accessing elements in a dictionary.
18 In what situations are lists preferred over dictionaries.
19 Why are dictionaries considered unordered, and how does that affect data retrieval.
20 Explain the difference between a list and a dictionary in terms of data retrieval.

'''

'\n1 What are data structures, and why are they important.\n2  Explain the difference between mutable and immutable data types with examples.\n3 What are the main differences between lists and tuples in Python.\n4 Describe how dictionaries store data.\n5 Why might you use a set instead of a list in Python.\n6 What is a string in Python, and how is it different from a list.\n7 How do tuples ensure data integrity in Python.\n8 What is a hash table, and how does it relate to dictionaries in Python.\n9 Can lists contain different data types in Python.\n10 Explain why strings are immutable in Python.\n11 What advantages do dictionaries offer over lists for certain tasks.\n12 Describe a scenario where using a tuple would be preferable over a list.\n13 How do sets handle duplicate values in Python.\n14 How does the “in” keyword work differently for lists and dictionaries.\n15 Can you modify the elements of a tuple? Explain why or why not.\n16 What is a nested dictionary, and give an example of its use case.\n17 Describe the time complexity of accessing elements in a dictionary.\n18 In what situations are lists preferred over dictionaries.\n19 Why are dictionaries considered unordered, and how does that affect data retrieval.\n20 Explain the difference between a list and a dictionary in terms of data retrieval.\n\n'

## Answer

In [12]:
'''
1) Data structures organize and store data efficiently, enabling optimal access and modification.

2)  Mutable: Can be changed (e.g., list).
    Immutable: Cannot be changed (e.g., tuple, string).

3) Lists are mutable, tuples are immutable and Lists use more memory; tuples are faster.

4) As key-value pairs using a hash table.

5) To store unique items and for faster membership checks.

6) A string is an immutable sequence of characters; a list is a mutable sequence of elements.

7) Their immutability prevents accidental changes.

8) A hash table stores key-value pairs; Python dictionaries use it for fast lookups.

9) Yes, Python lists can hold mixed data types.

10) For memory efficiency and security

11) Faster lookups using keys; better for mapping relationships.

12) When data should not change, like (x, y) coordinates.

13) Automatically remove duplicates.

14) List: Checks for presence of a value.
    Dict: Checks for presence of a key.

15) No; tuples are immutable.

16) A dictionary within another dictionary.
    Example: {"student": {"name": "Ana", "age": 20}}

17) O(1)

18) When order matters or items don’t need unique keys.

19) Keys weren’t stored in insertion order; now they are ordered but not sorted.

20) List: Retrieve by index.
    Dictionary: Retrieve by key (faster).
'''

'\n1) Data structures organize and store data efficiently, enabling optimal access and modification.\n\n2)  Mutable: Can be changed (e.g., list).\n    Immutable: Cannot be changed (e.g., tuple, string).\n\n3) Lists are mutable, tuples are immutable and Lists use more memory; tuples are faster.\n\n4) As key-value pairs using a hash table.\n\n5) To store unique items and for faster membership checks.\n\n6) A string is an immutable sequence of characters; a list is a mutable sequence of elements.\n\n7) Their immutability prevents accidental changes.\n\n8) A hash table stores key-value pairs; Python dictionaries use it for fast lookups.\n\n9) Yes, Python lists can hold mixed data types.\n\n10) For memory efficiency and security\n\n11) Faster lookups using keys; better for mapping relationships.\n\n12) When data should not change, like (x, y) coordinates.\n\n13) Automatically remove duplicates.\n\n14) List: Checks for presence of a value.\n    Dict: Checks for presence of a key.\n\n15) No; tuples are immutable.\n\n16) A dictionary within another dictionary.\n    Example: {"student": {"name": "Ana", "age": 20}}\n\n17) O(1)\n\n18) When order matters or items don’t need unique keys.\n\n19) Keys weren’t stored in insertion order; now they are ordered but not sorted.\n\n20) List: Retrieve by index.\n    Dictionary: Retrieve by key (faster).\n'

# Practical Questions

In [35]:
# 1 Write a code to create a string with your name and print it.

name = "John Doe"
print(name)

John Doe

In [37]:
# 2 Write a code to find the length of the string "Hello World"

text = "Hello World"
print(len(text))

11

In [39]:
# 3  Write a code to slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
print(text[:3])

Pyt

In [41]:
# 4 Write a code to convert the string "hello" to uppercase

text = "hello"
print(text.upper())

HELLO

In [43]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple"

text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [45]:
# 6 Write a code to create a list with numbers 1 to 5 and print it

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [47]:
# 7  Write a code to append the number 10 to the list [1, 2, 3, 4]

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [49]:
#8  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [51]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']

letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [53]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50]

numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [77]:
'''
11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}. 

'''

'\n11. Write a code to create a tuple with the elements 100, 200, 300 and print it.\n\n12. Write a code to access the second-to-last element of the tuple (\'red\', \'green\', \'blue\', \'yellow\').\n\n13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).\n\n14. Write a code to find the index of the element "cat" in the tuple (\'dog\', \'cat\', \'rabbit\').\n\n15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.\n\n16. Write a code to create a set with the elements \'a\', \'b\', \'c\' and print it.\n\n17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.\n\n18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.\n\n19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.\n\n20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}. \n\n'

In [55]:
# 11 

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [57]:
#12 
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [59]:
#13
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [61]:
#14 
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [63]:
#15 

fruits = ("apple", "banana", "orange")
print("kiwi" in fruits)

False

In [65]:
#16
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

In [69]:
#17 

numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [71]:
#18 

numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [73]:
#19 

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [75]:
# 20

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [ ]:
'''
21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

28. Write a code to create a list with strings and print the element at the third index.

29. Write a code to combine two dictionaries into one and print the result.

30. Write a code to convert a list of strings into a set.

'''

In [79]:
#21 
person = {"name": "Alice", "age": 30, "city": "Paris"}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'Paris'}

In [81]:
#22 
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [83]:
#23 
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [85]:
#24 

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [87]:
#25 

person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [89]:
# 26 

my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [102]:
#27 

import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[12, 14, 31, 40, 41]

In [104]:
#28 

words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

In [114]:
#29 
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [116]:
#30 
words = ["apple", "banana", "cherry", "apple"]
unique_words = set(words)
print(unique_words)

{'apple', 'cherry', 'banana'}